<%- include('partials/header'), {title} %>
<% const description = "This is About Us page" %>

<main>
  <h1><%= title %></h1>
  <h3><%= description %></h3>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt asperiores quaerat omnis quis iste natus ratione vitae commodi, temporibus provident iusto a molestiae nulla error alias suscipit. Voluptates, temporibus iure?
</main>

<%- include('partials/footer') %>
