<%- include('partials/header'), {title} %>
<% const description = "This is Contact Us page" %>

<main>
  <h1><%= title %></h1>
  <h3><%= description %></h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nihil, porro impedit magni sint blanditiis cumque suscipit laudantium facere iure ab commodi tempora facilis at. Tenetur ex nisi eveniet saepe.
</main>

<%- include('partials/footer') %>
