<%- include('partials/header'), {title} %>
<% const description = "This is home page" %>

<main>
  <h1><%= title %></h1>
  <h3><%= description %></h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sunt blanditiis alias. Animi impedit quam temporibus dolor mollitia exercitationem quas!</p>
</main>

<%- include('partials/footer') %>
